<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HiddenBrains Component display">
    <meta name="author" content="HiddenBrains">
    {% block title_content %}
    <title>HiddenBrains Components</title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
    {% block header_content %}
    {%endblock%}
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        {% block nav_header %}
        <a class="navbar-brand" href="{% url 'home' %}">HiddenBrains</a>
        {% endblock %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="display: flex; justify-content: space-around">
            <div class="input-group" style="margin-right:20px">
                <form id="frm_view_detail" method="post" style="display: flex; justify-content: space-around"
                      action="{% url 'searching' %}">
                    {% csrf_token %}
                    <input type="text" name="txt_search_query" class="form-control"  placeholder="Search for...">
                    <button class="btn btn-secondary" type="submit" value="{{txt_search_query}}"
                            style="margin-left:6px">Go!
                    </button>
                </form>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.hiddenbrains.com">About</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>

</body>
{% block content %}
{% endblock %}

<!-- Footer -->
{% block footer %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright HiddenBrains {% now "Y" %}</p>
    </div>


</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
</html>