{% extends 'components/base/base_component.html' %}
{% load static %}
{% block title_content%}
<title>{{detail.component.name}} for {{detail.technology.name}} in {{detail.get_languages}}</title>
{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <div class="post-wrapper">
                <div class="post-heading">
                    <!-- Title -->
                    <h1>{{detail.component.name}}</h1>
                    <p><strong>Technology:</strong> {{detail.technology.name}}</p>
                    <p class="lead"> by <a href="#">{{dev_detail.name}}</a></p>
                </div>
                <hr>
                <!-- Date/Time -->
                <ul class="list-unstyled">
                    <li><strong>Posted On:</strong> on {{ detail.added_date|date:"M d, Y" }}</li>
                    <li><strong>Updated On:</strong> on {{ detail.updated_date|date:"M d, Y" }}</li>
                </ul>
                <hr>
                <!-- Preview Image -->
                <img class="img-fluid rounded" src="{{detail.banner_image.url}}" alt="">
                <hr>
                <!-- Post Content -->
                {{detail.description}}
                <hr>
            </div>
            <!-- Sidebar Widgets Column -->
        </div>
        <!-- /.row -->
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
             <div class="card mb-4 languages-card">
                <h5 class="card-header">Download Source</h5>
                <div class="card-body">
                    <a class="navbar-brand" href="{{detail.git_url}}"><img src="{% static 'images/github-logo.png' %}" alt="Github Clone URL"/></a>
                </div>
            </div>
            <!-- Categories Widget -->
            <div class="card mb-4 languages-card">
                <h5 class="card-header">{% if languages.count == 1 %}Language{% else %}Languages{% endif %}</h5>
                <div class="card-body">
                    <ul>
                        {% for language in languages %}
                        <li>
                            {{language.name}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Side Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Recent Component</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
