{% extends 'components/base/base_component.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="technology-section">
                <h3>Technology</h3>
                <div class="list-group">
                    <a href="{% url 'component_tech' 'All' %}" class="list-group-item">All</a>
                    {% for t in technology_list %}
                    <a id="technology_item_tag" href="{% url 'component_tech' t.name %}" class="list-group-item">{{t.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <section class="technology-grid" id="product-configureit-dev">
                <div class="consulting-box">
                    <div id="comp_list_item_container" class="row">
                        {% include 'components/list_item.html' %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript">
    $('.list-group-item').click(function(e) {
        e.preventDefault();
            $.ajax({
		        type: 'POST',
		        url:$(this).attr('href'),
		        data:{
		            csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
		        },
		        success:function(data){
		            $("#comp_list_item_container").html(data)
		        },
		        error:function(data){
                    if(data["status"] == 404){
                        $("#comp_list_item_container").html("<h1>No components found.</h1>")
                    }
		        }
		    });
    });
</script>
{% endblock %}